/* para headers---------------------------------------- */
h1 {
    color: #025157;
  }

#fondo {
  color:blue;
  background-color: black;
}

.parrafo {
    color: green;
  }
  
  

/* para id---------------------------------------- */
#cabecera {

}

/* para clases---------------------------------------- */
.cabecera {

}
